<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="PHPUnit">
    <option name="directories">
      <list>
        <option value="$PROJECT_DIR$/payments/tests" />
        <option value="$PROJECT_DIR$/authentication/tests" />
        <option value="$PROJECT_DIR$/stays/tests" />
        <option value="$PROJECT_DIR$/vehicles/tests" />
      </list>
    </option>
  </component>
</project>